body{ 
    height: 40rem;
    align-items: center;
    display: flex;
    justify-content: center;
}   

form {
    max-width: 200px;
    padding: 10px;
    background-color: #eee;
    height: 8rem;
}

input {
    display: block;
    padding: 4px;
    margin: 10px auto;    
}

.suce{
    border: 2px solid green;
}

.err{
    border: 2px solid red;
}

